.country{
	margin-bottom: 100px;
}
.country__title,
.tour__title,
.continents__title{
	font-size: 25px;
	margin: 50px 0;
	text-transform: uppercase;
	font-weight: 800;
	text-align: center;
}

.country__items{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	font-size: 16px;
}

.country__items a{
	color: #333;
	text-decoration: none;
}

.country__items a:hover{
	color: #932D12;
	font-weight: 700;
}

.country__items--img{
	margin-bottom: 30px;
}

.country__items--about,
.country__items--tour{
	width: 888px;
	margin-bottom: 50px;
}
.country__items--img img{
	width:  100%;
	height: 100%;
}

.country__items--about h4,
.country__items--tours h4{
	font-size: 20px ;
	text-align: left;
}
.back {
    margin-top: 100px;
    margin-bottom: 100px;
}

.back a{
    background-color: #932D12;
    padding: 15px 50px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;

}

.back a:hover,
.back a:focus{
	background-color: #76250F;
	color: #fff;
	font-weight: 400;
}

.country__items--tour{
	margin-bottom: 100px;
	text-align: left;
}

.tour,
.continents {
    text-align: center;
}


.tour__items h4{
	margin-bottom: 20px;
}

.tour__items--date p,
.tour__items--location p{
	font-weight: 500;
	margin: 0;
	margin-right: 20px;
	margin-top: 20px;
}

.tour__list,
.continent__list{
	list-style: none;
	/*margin:auto;*/
}

.tour__list a,
.continent__list a {
	color: #333;
	text-decoration: none;
}

.tour__list a:hover,
.continent__list a:hover{
	color: #932D12;
} 


.continent__list li{
	margin-bottom: 10px;
}

.nav{
	text-align: center;
	margin-top: 30px;
}
.nav li{
	margin-right: 20px;
}

.nav li a{
	color: #333;
}

a#logo {
    color: #222;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: none;
}

footer{
	background-color: #777;
}

ul{
	padding: 0;
}

.country__items--tour ul{
	list-style: none;
}

.header-padding{
	padding-bottom: 50px;
}

.title{
	font-weight: 700;
	text-transform: uppercase;
	font-size: 25px;
	margin-bottom: 20px;
	padding: 0;
}

.navbar{
	padding: 0;
	padding-top: 20px;
}


.search {
    margin-top: 30px;
}

.header-flex {
    display: flex;
    justify-content: space-around;
}